services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    ports:
      - "9090:9090"
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3090:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring

  psu-exporter:
    build: ./psu-exporter
    container_name: psu-exporter
    restart: always
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    ports:
      - "8000:8000"
    networks:
      - monitoring


volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge
